<div class="wrapper">
  <h1 class="h1">web-front-end</h1>
  <div class="container">
    <div class="circle"></div>
    <span class="line1"></span>
    <span class="line2"></span>
    <span class="line3"></span>
    <span class="line4"></span>
    <span class="line5"></span>
    <i ng-click="toFrames()" class="javascript  iconfont icon-languagejavascript"></i>
    <i ng-click="toFrames()" class="jquery iconfont icon-jquery"></i>
    <i ng-click="toFrames()" class="bootstrap iconfont icon-bootstrap"></i>
    <i ng-click="toFrames()" class="gulp iconfont icon-gulpwhitetext"></i>
    <i ng-click="toFrames()" class="sass iconfont icon-socialsass"></i>
    <i ng-click="toFrames()" class="html5 iconfont icon-html5"></i>
    <i ng-click="toFrames()" class="angular iconfont icon-socialangular"></i>
    <i ng-click="toFrames()" class="css3 iconfont icon-css3"></i>
  </div>
</div>